@font-face {
    font-family: "Play";
    src: url("../fonts/Play-Bold.eot");
    src: local("Play-Bold"), url("../fonts/Play-Bold.woff") format("woff"),
        url("../fonts/Play-Bold.ttf") format("truetype"), url("../fonts/Play-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Play";
    src: url("../fonts/Play-Regular.eot");
    src: local("Play-Regular"), url("../fonts/Play-Regular.woff") format("woff"),
        url("../fonts/Play-Regular.ttf") format("truetype"), url("../fonts/Play-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans-Bold.eot");
    src: local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff") format("woff"),
        url("../fonts/PTSans-Bold.ttf") format("truetype"), url("../fonts/PTSans-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans-Regular.eot");
    src: local("PTSans-Regular"), url("../fonts/PTSans-Regular.woff") format("woff"),
        url("../fonts/PTSans-Regular.ttf") format("truetype"), url("../fonts/PTSans-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.eot");
    src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff") format("woff"),
        url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.eot");
    src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Regular.eot");
    src: local("SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.woff") format("woff"),
        url("../fonts/SFProDisplay-Regular.ttf") format("truetype"),
        url("../fonts/SFProDisplay-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}
