.partners-all {
    padding: 5% 0;
    &__row {
    }

    &__title {
        margin-bottom: 50px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 180px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin-right: -1px;
        margin-bottom: -1px;
        border: 1px solid #ffca1a;
        & img {
            max-height: 120px;
            object-fit: contain;
        }
    }
}

@media (max-width: 992px) {
    .partners-all {
        &__list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .partners-all {
        &__title {
            margin-bottom: 30px;
        }

        &__list {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 140px;
        }

        &__item {
            & img {
                max-height: 100px;
            }
        }
    }
}

@media (max-width: 500px) {
    .partners-all {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
