<footer class="footer">
  <div class="footer__row-1">
    <div class="container">
      <div class="footer__list">
        <div class="footer__column">
          <div class="footer__logo logo">
            <a href="#"><img src="./img/logo.png" alt="logo" /></a>
          </div>
          <div class="footer__text footer__text_icon footer__text_icon-addres">г. Москва, Кутузовский пр. 36, стр.4
          </div>
          <div class="footer__text footer__text_icon footer__text_icon-phone"><a href="tel:+70000000000">+7 000
              00-00-00</a></div>
          <div class="footer__text footer__text_icon footer__text_icon-email"><a
              href="mailto:info@rm-modul.ru">info@rm-modul.ru</a></div>
          <div class="footer__social">
            <a href=""><img src="./img/icon-vk.png" alt="vk" /></a>
            <a href=""><img src="./img/icon-insta.png" alt="instagram" /></a>
            <a href=""><img src="./img/icon-fb.png" alt="facebook" /></a>
            <a href=""><img src="./img/icon-twitter.png" alt="twitter" /></a>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__name"><a href="#">Быстровозводимые здания</a></div>
          <div class="footer__text"><a href="#">Автосервис и сто</a></div>
          <div class="footer__text"><a href="#">Ангары</a></div>
          <div class="footer__text"><a href="#">Здания для транспорта и техники</a></div>
          <div class="footer__text"><a href="#">Здания сельскохозяйственного назначения</a></div>
          <div class="footer__text"><a href="#">Логистические комплексы</a></div>
          <div class="footer__text"><a href="#">Офисные здания</a></div>
          <div class="footer__text"><a href="#">Производственные здания</a></div>
          <div class="footer__text"><a href="#">Склады</a></div>
          <div class="footer__text"><a href="#">Спортивные здания Фермы</a></div>
        </div>
        <div class="footer__column">
          <div class="footer__name"><a href="#">Модульные здания</a></div>
          <div class="footer__text"><a href="#">Административно-бытовые</a></div>
          <div class="footer__text"><a href="#">Банно-прачечные комбинаты</a></div>
          <div class="footer__text"><a href="#">Бытовки</a></div>
          <div class="footer__text"><a href="#">Вахтовые поселки</a></div>
          <div class="footer__text"><a href="#">Готовые типовые модульные здания</a></div>
          <div class="footer__text"><a href="#">Контрольно-пропускные пункты</a></div>
          <div class="footer__text"><a href="#">Медицинские учреждения</a></div>
          <div class="footer__text"><a href="#">Общежития</a></div>
          <div class="footer__text"><a href="#">Офисы</a></div>
          <div class="footer__text"><a href="#">Павильоны</a></div>
          <div class="footer__text"><a href="#">Пост охраны</a></div>
          <div class="footer__text"><a href="#">Производственные здания</a></div>
          <div class="footer__text"><a href="#">Санитарно-гигиенические</a></div>
          <div class="footer__text"><a href="#">Специализированные и технологические</a></div>
          <div class="footer__text"><a href="#">Столовые</a></div>
          <div class="footer__text"><a href="#">Штабы строительства</a></div>
          <div class="footer__text"><a href="#">Школы и детские сады</a></div>
        </div>
        <div class="footer__column">
          <div class="footer__name"><a href="#">Услуги</a></div>
          <div class="footer__text"><a href="#">Изготовление металлоконструкций</a></div>
          <div class="footer__text"><a href="#">Проектирование</a></div>
          <div class="footer__text"><a href="#">Пусконаладка</a></div>
          <div class="footer__text"><a href="#">Сборка на участке</a></div>
          <div class="footer__text"><a href="#">Сервисное и гарантийное обслуживание</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__row-2">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__text-2">
          АВТОРСКОЕ ПРАВО 2018 «RM-модуль» Все права защищены.
          <a href="#"><span>Политика конфидециальности</span> </a>
        </div>
        <div class="footer__develops">
          <div class="footer__text-dev">Разработка сайта</div>
          <a href="https://wesma.ru/" class="footer__dev-logo" target="_blank"><img src="./img/wesma-logo.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</footer>