<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/mmenu.css">
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/lightgallery.css">

  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  <title>Document</title>
</head>

<body>
  <nav id="my-menu" class="mm-menu_offcanvas"> 
    <ul>
      <li>
        <a class="" href="#">О компании</a>
        <ul>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">География выполненных проектов</a></li>
          <li><a href="#">Документы</a></li>
          <li><a href="#">Достижения и награды</a></li>
          <li><a href="#">Заказчики</a></li>
          <li><a href="#">Команда</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Сертификаты и лицензии</a></li>
        </ul>
      </li>
      <li>
        <a class="" href="#">Продукция</a>
        <ul>
          <li>
            <a href="#">Быстровозводимые здания</a>
            <ul>
              <li><a href="#">Автосервис и сто</a></li>
              <li><a href="#">Ангары</a></li>
              <li><a href="#">Здания для транспорта и техники</a></li>
              <li><a href="#">Здания сельскохозяйственного назначения</a></li>
              <li><a href="#">Логистические комплексы</a></li>
              <li><a href="#">Офисные здания</a></li>
              <li><a href="#">Производственные здания</a></li>
              <li><a href="#">Склады</a></li>
              <li><a href="#">Спортивные здания Фермы</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Модульные здания</a>
            <ul>
              <li><a href="#">Административно-бытовые</a></li>
              <li><a href="#">Банно-прачечные комбинаты</a></li>
              <li><a href="#">Бытовки</a></li>
              <li><a href="#">Вахтовые поселки</a></li>
              <li><a href="#">Готовые типовые модульные здания</a></li>
              <li><a href="#">Контрольно-пропускные пункты</a></li>
              <li><a href="#">Медицинские учреждения</a></li>
              <li><a href="#">Общежития</a></li>
              <li><a href="#">Офисы</a></li>
              <li><a href="#">Павильоны</a></li>
              <li><a href="#">Пост охраны</a></li>
              <li><a href="#">Производственные здания</a></li>
              <li><a href="#">Санитарно-гигиенические</a></li>
              <li><a href="#">Специализированные и технологические</a></li>
              <li><a href="#">Столовые</a></li>
              <li><a href="#">Штабы строительства</a></li>
              <li><a href="#">Школы и детские сады</a></li>
            </ul>
          </li>
          <li><a href="#">Вагон-дома</a></li>
          <li><a href="#">Каркасы (комплект)</a></li>
        </ul>
      </li>
      <li>
        <a class="" href="#">Услуги</a>
        <ul>
          <li><a href="#">Изготовление металлоконструкций</a></li>
          <li>
            <a href="#">Проектирование</a>
            <ul>
              <li><a href="#">Ангаров</a></li>
              <li><a href="#">Быстровозводимых зданий</a></li>
              <li><a href="#">Логистических центров</a></li>
              <li><a href="#">Модульные здания</a></li>
              <li><a href="#">Промышленных зданий</a></li>
              <li><a href="#">Складов Ферм</a></li>
            </ul>
          </li>
          <li><a href="#">Пусконаладка</a></li>
          <li><a href="#">Сборка на участке</a></li>
          <li><a href="#">Сервисное и гарантийное обслуживание</a></li>
        </ul>
      </li>
      <li><a class="" href="#">Технологии и конструктив</a></li>
      <li><a class="" href="#">Наши объекты</a></li>
      <li><a class="" href="#">Контакты</a></li>

      <li><a href="tel:+70000000000" class="mm-menu-phone">+7 000 000-00-00</a></li>
      <li><a href="mailto:info@rm-modul.ru" class="mm-menu-mail">info@rm-modul.ru</a></li>
      <li><a class="js-modal mm-menu-city">Ваш город: <span>Москва</span></a></li>
      <li>            
        <a href=""><img src="./img/icon-vk.png" alt="vk" /></a>
        <a href=""><img src="./img/icon-insta.png" alt="instagram" /></a>
        <a href=""><img src="./img/icon-fb.png" alt="facebook" /></a>
        <a href=""><img src="./img/icon-twitter.png" alt="twitter" /></a>
      </li>
 </nav>

  <div id="my-wrapper" class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__row">
          <a href="#my-menu" class="header__burger" id="my-icon"><span></span></a>
          <div class="header__column-1">
            <div class="header__logo logo">
              <a href="/"><img src="./img/logo.png" alt="logo" /></a>
            </div>
          </div>
          <div class="header__column-2">
            <div class="header__city city">
              <div class="header__city-input">
                <div class="header__city-text js-modal">Ваш город: <span>Москва</span></div>
              </div>
            </div>
            <div class="header__phone"><a href="tel:+70000000000">+7 000 000-00-00</a></div>
            <div class="header__email"><a href="mailto:info@rm-modul.ru">info@rm-modul.ru</a></div>
            <div class="header__social">
              <a href=""><img src="./img/icon-vk.png" alt="vk" /></a>
              <a href=""><img src="./img/icon-insta.png" alt="instagram" /></a>
              <a href=""><img src="./img/icon-fb.png" alt="facebook" /></a>
              <a href=""><img src="./img/icon-twitter.png" alt="twitter" /></a>
            </div>
          </div>
        </div>
      </div>
    </header>